*{
    margin: 0;
    padding: 0;
}

body {
    padding-top: 70px;
    background-size: auto;
    background: url("../images/background_photo.jpg") no-repeat top center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.short_about{
    background-color: #2DB363;
    color: #FFFFFF;
    border-radius: 40px 0 0 40px;
}

.short_about h2{
    font-size: 28px;
}

.check_icon{
    width: 46px;
    height: auto;
}

.short_login{
    background-color: #FFFFFF;
    border-radius: 0 40px 40px 0;
}

/* Buttons */
.nav-link.btn {
    color: white !important;
    margin-left: 10px;
}

.nav-link.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.nav-link.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}
.nav-link.btn-logout {
    background-color: rgba(124, 124, 124, 0.6);
    border-color: rgba(124, 124, 124, 0.6);
    border-radius: 50px;
    padding: 5px 30px;
}

.nav-link.account-button {
    padding: 5px 100px;
    border-radius: 15px;
    background-color: rgba(168, 168, 168, 0.6);
    color: white !important;
}