{% for article in articles %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <img src="{{ article.image_url }}" class="card-img-top" alt="">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">{{ article.snippet }}</p>
                        <a href="{{ article.url }}" class="btn btn-primary" target="_blank">Read More</a>
                    </div>
                      <div class="card-footer text-body-secondary">
                          {{ article.hours_ago }} hour{% if article.hours_ago > 1 %}s{% endif %} ago
                      </div>

                </div>
            </div>
{% endfor %}
